.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  background-image: linear-gradient(45deg, rgb(255, 255, 255) 36.00%, #2a60ff 40.00%);
}

.login-container-col-left {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(251, 252, 252, 0.95);
}

.login-container-col-header-left {
  flex: 0 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  align-items: flex-start;
}

.login-container-title {
  flex: 0 0 auto;
  width: 100%;
  height: 304px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  padding-top: 5%;
  flex-direction: column;
  justify-content: flex-end;
}

.login-sub-container-title {
  flex: 0 0 auto;
  width: 70%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image-title {
  top: 67px;
  left: 111px;
  width: 535px;
  height: 78px;
  position: absolute;
  align-self: stretch;
  object-fit: cover;
}

.login-container-subtitle {
  width: 100%;
  height: 140px;
  display: flex;
  text-align: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.login-greating-h1 {
  margin-top: 3%;
  font-family: "Poppins";
  margin-left: 15%;
}

.login-downtext {
  font-size: 20px;
  align-self: flex-start;
  margin-top: 1%;
  font-family: "Poppins";
  margin-left: 15%;
}

.login-container-col-main-left {
  flex: 0 0 auto;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
}

.login-container-form {
  flex: 0 0 auto;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-login-form {
  gap: 10%;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-sub-container-mail {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}

.login-container-input-email {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: flex-start;
}

.login-container-input-email:hover {
  box-shadow: 1px 1px 6px 1px #000000;
}

.login-envelope-image-input {
  width: auto;
  object-fit: cover;
}

.login-input-email {
  width: 100%;
  height: 31px;
  transition: 0.3s;
  font-family: "Poppins";
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}

.login-input-email:focus {
  outline: none;
}

.login-sub-container-password {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.login-container-input-password {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  z-index: 1;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
}

.login-container-input-password:hover {
  box-shadow: 1px 1px 6px 1px #000000;
}

.login-image-lock-password {
  align-self: center;
  object-fit: cover;
}

.login-input-password {
  width: 100%;
  transition: 0.3s;
  font-family: "Poppins";
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
}

.login-input-password:focus {
  outline: none;
}

.login-image-show-password {
  width: auto;
  object-fit: cover;
  margin-left: 0%;
}

.login-container-forgot-password-link {
  flex: 0 0 auto;
  width: 70%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-end;
  color: #2a60ff;
  text-decoration: underline;
}

.login-link {
  font-family: "Poppins";
}

.login-button {
  color: #ffffff;
  width: 70%;
  height: auto;
  box-shadow: 1px 1px 6px 1px #2a60ff;
  font-style: normal;
  margin-top: var(--dl-space-space-halfun);
  transition: 0.3s;
  font-family: "Poppins";
  font-weight: 800;
  padding-top: 2%;
  border-color: #2a60ff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: 2%;
  background-color: #2a60ff;
}

.login-button:hover {
  box-shadow: 1px 1px 6px 1px #000000;
}

.login-button:active {
  color: #2a60ff;
  border-width: 1px;
  background-color: #ffffff;
}

.login-container-line-left {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}

.login-sub-container-line-left {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #505050;
}

.login-sub-container-circle {
  flex: 0 0 auto;
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-circle-icon {
  width: 24px;
  height: 24px;
}

.login-sub-container-line-right {
  flex: 0 0 auto;
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #505050;
}

.login-container-footer {
  flex: 1;
  width: 100%;
  height: 30%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.login-button-google {
  width: 70%;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 3%;
  transition: 0.3s;
  padding-top: 2%;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: 2%;
}

.login-button-google:hover {
  box-shadow: 5px 5px 10px 0px #000000;
}

.login-button-google:active {
  border-color: #000000;
  border-width: 1px;
}

.login-image {
  width: auto;
  object-fit: cover;
}

.login-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-text2 {
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
}

.login-link1 {
  color: #2a60ff;
  font-size: 20px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
  text-decoration: underline;
}

.login-image1 {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 1366px) {
  .login-container-col-header-left {
    height: 194px;
  }

  .login-container-title {
    height: 157px;
    padding-top: 0%;
  }

  .login-sub-container-title {
    align-self: center;
    justify-content: flex-start;
  }

  .login-image-title {
    top: auto;
    right: auto;
    width: 429px;
    height: 59px;
    position: static;
    align-self: flex-end;
  }

  .login-container-subtitle {
    height: 165px;
  }

  .login-container-form {
    height: 100%;
  }

  .login-login-form {
    height: 100%;
  }

  .login-link {
    color: #2a60ff;
    font-style: normal;
    font-weight: 500;
    text-decoration: underline;
  }

  .login-button {
    margin-top: -1rem;
  }

  .login-button-google {
    display: flex;
    justify-content: space-evenly;
  }

  .login-container-line-left {
    margin-top: 0%;
    align-items: center;
  }

  .login-container-footer {
    height: 364px;
    margin-top: 0%;
    justify-content: flex-start;
  }

  .login-container1 {
    height: 79px;
    align-items: center;
  }
}

@media(max-width: 1200px) {
  .login-image-title {
    width: 374px;
    height: 48px;
  }

  .login-greating-h1 {
    font-size: 1.5rem;
  }

  .login-downtext {
    font-size: 15px;
  }

  .login-link {
    font-size: 16px;
  }

  .login-button {
    font-size: 15px;
  }

  .login-text2 {
    font-size: 16px;
  }

  .login-link1 {
    font-size: 16px;
  }
}

@media(max-width: 800px) {
  .login-container-col-left {
    width: 100%;
  }

  .login-container-title {
    height: 162px;
  }

  .login-sub-container-title {
    height: 71px;
    align-items: flex-start;
  }

  .login-image-title {
    width: 408px;
    height: 58px;
    align-self: center;
  }

  .login-container-subtitle {
    height: 106px;
    justify-content: flex-start;
  }

  .login-greating-h1 {
    margin-top: 0%;
  }

  .login-container-form {
    height: 366px;
  }

  .login-login-form {
    gap: 5%;
    height: 269px;
    align-self: flex-start;
    margin-top: 12%;
    justify-content: flex-start;
  }

  .login-image1 {
    display: none;
  }
}

@media(max-width: 767px) {
  .login-container {
    height: 791px;
  }

  .login-container-col-left {
    height: 100%;
  }
}

@media(max-width: 430px) {
  .login-container {
    height: 100vh;
  }

  .login-container-col-header-left {
    width: 100vw;
    height: 20vh;
  }

  .login-container-title {
    width: 100vw;
  }

  .login-sub-container-title {
    width: 100vw;
    justify-content: center;
  }

  .login-image-title {
    width: 60%;
    height: 37px;
    margin-right: 0px;
  }

  .login-container-subtitle {
    height: 62px;
  }

  .login-container-col-main-left {
    height: 40vh;
    align-items: stretch;
    justify-content: flex-end;
  }

  .login-container-form {
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .login-login-form {
    height: 40vh;
    align-self: flex-start;
    margin-top: 0px;
    justify-content: center;
  }

  .login-container-footer {
    height: 40vh;
  }
}