<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>turnoXpress</title>
    <!-- <link rel="stylesheet" href="../static/css/styles.css" >  -->
    <!--  <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <script src="../static/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Delete</h2>

<form th:action="@{/api/v1/delete}" method="post" th:object="${user}">
    <label for="userID">ID Usuario:</label>
    <input class="form-control" type="number" id="userID" name="userID" th:field="*{id}" ><br>



    <button type="submit">Delete</button>


</form>
<div th:if="${exito}"> <h1 th:text="${exito}"></h1> </div>
<div th:if="${error}"> <h1 th:text="${error}"></h1> </div>
</body>
</html>